.table-container {
  margin-top: 30px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.mdc-data-table__table {
  min-width: 0 !important;
  width: 80%;
  margin: 0 auto;
}

.mat-mdc-table .mat-mdc-header-cell {
  font-size: 14px;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;
}

.backButton {
  margin-bottom: 20px;
  width: 100%;
}

.selected {
  background-color: rgb(232, 126, 79, 0.1);
}

.mat-mdc-table .mat-mdc-cell:hover {
  cursor: pointer;
}

.select-fields {
  display: flex;
  justify-content: space-evenly;
  padding: 0 20% 0 20%;
  margin-top: 20px;
}

:host::ng-deep
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:focus:checked
  ~ .mdc-checkbox__background {
  border-color: rgb(232, 126, 79);
  background-color: rgb(232, 126, 79);
}

:host::ng-deep
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:checked
  ~ .mdc-checkbox__background {
  border-color: rgb(232, 126, 79);
  background-color: rgb(232, 126, 79);
}

:host::ng-deep
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:hover:checked
  ~ .mdc-checkbox__background {
  border-color: rgb(232, 126, 79);
  background-color: rgb(232, 126, 79);
}

:host::ng-deep .mdc-checkbox .mdc-checkbox__ripple {
  background-color: transparent !important;
}

/* Hover state for the touch target */
:host::ng-deep .mdc-checkbox .mat-mdc-checkbox-touch-target:hover {
  :host::ng-deep
    .mdc-checkbox
    .mdc-checkbox__native-control:disabled:checked
    ~ .mdc-checkbox__background {
    border-color: rgb(232, 126, 79);
    background-color: rgb(232, 126, 79);
  }
}

:host::ng-deep
  .mdc-checkbox:hover
  .mdc-checkbox__native-control:enabled:indeterminate
  ~ .mdc-checkbox__background {
  border-color: rgb(232, 126, 79);
  background-color: rgb(232, 126, 79);
}

:host::ng-deep
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:indeterminate
  ~ .mdc-checkbox__background {
  border-color: rgb(232, 126, 79);
  background-color: rgb(232, 126, 79);
}

:host::ng-deep
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:indeterminate:hover
  ~ .mdc-checkbox__background {
  border-color: rgb(232, 126, 79);
  background-color: rgb(232, 126, 79);
}

:host::ng-deep
  .mdc-checkbox:not(:disabled):active
  .mdc-checkbox__native-control:enabled:checked
  ~ .mdc-checkbox__background {
  border-color: rgb(232, 126, 79);
  background-color: rgb(232, 126, 79);
}

:host::ng-deep
  .mdc-checkbox:not(:disabled):active
  .mdc-checkbox__native-control:enabled:indeterminate
  ~ .mdc-checkbox__background {
  border-color: rgb(232, 126, 79);
  background-color: rgb(232, 126, 79);
}
