//.tree-class {
//  background-image: url('../../../../assets/images/drvo.png');
//  //background-size: cover;
//  background-repeat: no-repeat;
//  background-position: top;
//  z-index: -1;
//  height: 100%;
//}
//
//ion-col {
//  text-align: center;
//}
//
//.parent-div {
//  width: 100%;
//  display: flex;
//  justify-content: flex-end;
//  padding-right: 20px;
//}
//
//.second-parent-div {
//  width: 100%;
//  display: flex;
//  justify-content: flex-start;
//  padding-right: 20px;
//}
//.parent-class-row{
//  padding-top: 50px;
//  width: 100%;
//}
//
//@media screen and (max-width: 1500px) {
//  .tree-class {
//    background-size: 100%;
//  }
//}
//
//@media screen and (min-width: 1500px) {
//  .tree-class{
//    background-size: 58%;
//  }
//  .parent-class-row{
//    padding-top: 150px;
//  }
//}
//
//@media screen and (min-width: 1000px) {
//  .parent-class-row{
//    padding-top: 150px;
//  }
//}

.tree-container {
  position: relative;
  width: 100%;
  max-width: 600px; /* Prilagodite maksimalnu širinu prema potrebi */
  margin: auto;
}

.tree-image {
  width: 100%;
  height: auto;
  display: block;
}

.avatar-container {
  position: absolute;
  top: 132px;
  left: 0;
  width: 100%;
}

.single-child {
  display: flex;
  justify-content: flex-start;
}

.avatar-row {
  display: flex;
  justify-content: space-around;
}

.parent-avatar {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.pet-avatar {
  display: flex;
  position: absolute;
  bottom: -89px;
  left: 50%;
  transform: translateX(-50%);
}

.button-content {
  position: absolute;
  bottom: -12px;
  right: 65px;
}

@media screen and (max-width: 380px) {
  .pet-avatar {
    bottom: -156px;
    right: 60p;
  }
  .button-content {
    bottom: -50px;
  }
}

.custom {
  text-align: left;
  width: 100%;
  --background: white;
  --color: black;
}

.input-fill-outline.input-shape-round {
  --border-color: rgba(26, 21, 76, 0.5);
  --border-radius: 14px;
}

.always-flip {
  width: 70px;
}

.icon-class {
  padding-top: 30px;
  display: flex;
  margin-bottom: 10px;
}

.main-square {
  width: 170px;
  height: 170px;
  border: 2px solid #1a154c; /* Možete promeniti boju granice po potrebi */
  position: relative;
  padding: 20px;
  border-radius: 25px;
}

.dotted-square {
  width: 100%;
  height: 100%;
  border: 2px dotted #1a154c;
  border-radius: 25px;
}

.center-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

.selected-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px dotted #1a154c;
  border-radius: 25px;
}

.birth-class {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.login-button {
  margin-top: 30px;
}

.orange-dot {
  border: 2px dashed var(--ion-color-primary);
  margin-top: 20px;
}

.main-content {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.child-form {
  flex: 1; /* Prostor za formu popunjava preostali prostor */
  overflow-y: auto; /* Omogućuje scroll ako je sadržaj forme veći od ekrana */
}

.footer {
  margin-top: auto; /* Premešta footer na dno */
}

.buttons {
  display: flex;
  justify-content: space-between; /* Podeli gumbe na dva kraja */
  padding: 20px; /* Dodajte malo prostora oko gumba */
}
.margin-top {
  margin-top: 25px;
}
