<app-menu-button pageTitle="Profil"></app-menu-button>
<ion-content>
  <app-our-world></app-our-world>
  <div class="tree-container">
    <img src="./assets/images/drvo.png" class="tree-image" alt="Drvo">
    <div class="parent-avatar">
      <app-avatar *ngIf="parent" [personObj]="parent"></app-avatar>
      <app-avatar *ngIf="otherParent" [personObj]="otherParent"></app-avatar>
    </div>
    <div class="avatar-container">
      <div class="avatar-row">
        <app-avatar *ngFor="let child of children.slice(0, 3)" [personObj]="child"></app-avatar>
      </div>
      <div class="avatar-row">
        <app-avatar *ngFor="let child of children.slice(3, 6)" [personObj]="child"></app-avatar>
      </div>
      <div class="avatar-row">
        <app-avatar *ngFor="let child of children.slice(6, 9)" [personObj]="child"></app-avatar>
      </div>
    </div>
    <div class="pet-avatar" *ngIf="pet">
      <app-avatar [personObj]="pet"></app-avatar>
    </div>

    <div class="button-content">
      <ion-fab>
        <ion-fab-button (click)="openModal()">
          <ion-icon name="add" style="color: white"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </div>
</ion-content>

