@font-face {
  font-family: 'Mulish';
  src: url('../../assets/fonts/Mulish-VariableFont_wght.ttf') format('truetype');
}

h1, h2, p, div, ion-button, ion-label, ion-title, a, ion-item, span, *{
  font-family: 'Mulish', sans-serif !important;
}

.cursor-pointer{
  cursor: pointer;
}
