<div class="main-content">
  <app-our-world></app-our-world>
  <div class="center-content">
    <span>MAMA</span>
  </div>
  <div class="center-content">
    <div class="orange-avatar">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
    </div>
  </div>

  <div class="center-content">
    <span>Marijana Nikolic</span>
  </div>
  <div class="center-content">
    <span>24 godina</span>
  </div>
  <div class="center-content">
    <img ngSrc="./assets/images/logo.png" height="73" width="73"> <span>23.02.2022</span>
  </div>
  <div class="button-content">
    <ion-button expand="full" type="submit" shape="round" mode="ios" class="backButton" (click)="goBack()">
      <ion-icon name="chevron-back-outline" style="color: white"></ion-icon>
      <span class="size20-800">Nazad</span></ion-button>
  </div>
</div>

