@import "../../../scss/mixins/font.mixin";

.main-content {
  padding-top: 45px;
  padding-right: 20px;
  padding-left: 20px;
}
.title {
  color: var(--ion-color-primary);
  @include font(36px, 800, normal);
}
.login-form {
  width: 100%;
  display: grid;
  margin-top: 40px;
}
ion-checkbox {
  --size: 25px;
  //--checkbox-background-checked: #6815ec;
}

ion-checkbox::part(container) {
  border-radius: 5px;
  border: 2px solid #1a154c;
}
.checkbox {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.google-account-login {
  border-radius: 14px;
  border: 2px solid var(--ion-color-primary);
  background: #fff;
  padding: 15px 0 15px 15px;
}
.login-button {
  margin-top: 30px;
}

@media screen and (min-width: 500px) {
  .main-content {
    display: flex;
    justify-content: center;
  }
  .main-content > div {
    width: 50vh;
  }
}
