<div class="main-content">
  <div *ngFor="let child of children; let i = index" class="child-form">
    <div class="orange-dot" *ngIf="i !== 0"></div>
    <div class="icon-class">
      <img src="./assets/icons/calendar.png" height="20" width="20" style="margin-right: 20px" alt="calendar"/>
      <span class="size16-600 text-color">VTP/Datum rodjenja deteta</span>
    </div>
    <div style="display: flex;justify-content: space-around">
      <ion-item lines="none" shape="round" fill="outline" style="width: 23%">
        <ion-select aria-label="birthDay" interface="popover" mode="ios" [(ngModel)]="child.birthDate">
          <ion-select-option *ngFor="let day of days" [value]="day">{{ day }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none" shape="round" fill="outline" style="width: 25%">
        <ion-select aria-label="birthMonth" interface="popover" mode="ios" [(ngModel)]="child.birthMonth">
          <ion-select-option *ngFor="let month of abbreviatedMonths; let i = index" [value]="months[i]">{{ month }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none" shape="round" fill="outline" style="width: 27%">
        <ion-select aria-label="birthYear" interface="popover" mode="ios" [(ngModel)]="child.birthYear">
          <ion-select-option *ngFor="let year of years" [value]="year">{{ year }}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <div class="icon-class">
      <img ngSrc="./assets/icons/child.png" height="20" width="20" style="margin-right: 20px" alt="calendar"/>
      <span class="size16-600 text-color">Pol deteta:</span>
    </div>
    <ion-radio-group [(ngModel)]="child.gender">
      <ion-radio value="boy" labelPlacement="end" style="margin-right: 20px">Musko</ion-radio>
      <ion-radio value="girl" labelPlacement="end" style="margin-right: 20px">Zensko</ion-radio>
      <ion-radio value="dontKnow" labelPlacement="end">Ne znam</ion-radio>
    </ion-radio-group>

    <div class="icon-class">
      <img src="./assets/icons/user.png" height="20" width="20" style="margin-right: 20px" alt="user"/>
      <span class="size16-600 text-color">Ime deteta:</span>
    </div>
    <ion-input [(ngModel)]="child.name" aria-label="Custom input" class="custom" fill="outline" shape="round"></ion-input>

    <div class="icon-class">
      <img src="./assets/icons/camera.png" height="20" width="22" style="margin-right: 20px" alt="user"/>
      <span class="size16-600 text-color">Dodajte fotografiju deteta ili odaberite avatara</span>
    </div>

    <div class="center-content">
      <div class="main-square" (click)="takePicture(i)">
        <img *ngIf="child.photo && child.photo !== ''" [src]="child.photo" class="selected-image" alt="profileImg">
        <div class="dotted-square" *ngIf="!child.photo && child.photo === ''">
          <div class="center-icon">
            <span class="primary-color">+</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ion-button expand="full" type="submit" shape="round" mode="ios" class="login-button" (click)="addChild()">
    <span class="size20-800">Dodaj dete</span>
    <img src="./assets/icons/laugh.png" height="20" width="20" alt="profileImg">
  </ion-button>
</div>
