<ion-content class="container">
  <div class="main-content">
    <div>
      <div class="title center-content">
        <img ngSrc="./assets/images/logo.png" height="73" width="73" alt="logo" priority>
      </div>
      <div class="title center-content">
        Resetuj lozinku
      </div>
      <form (ngSubmit)="onSubmit()" class="login-form">
        <ion-item style="margin-bottom: 30px">
          <ion-input type="email" [(ngModel)]="email" name="password" placeholder="Unesite email..."></ion-input>
          <ion-icon name="mail" slot="start"></ion-icon>
        </ion-item>
        <ion-button expand="full" type="submit" shape="round" mode="ios" class="login-button">
          <ion-spinner *ngIf="loginSpinner"></ion-spinner>
          <span class="size20-800">Resetuj</span></ion-button>
      </form>
    </div>
  </div>
</ion-content>
