<ion-content>
  <div class="center-content ion-padding-top size16-900">Dodaj dete</div>
  <div class="main-content">
    <div class="child-form">
      <div class="icon-class">
        <img src="./assets/icons/calendar.png" height="20" width="20" style="margin-right: 20px" alt="calendar"/>
        <span class="size16-600 text-color">VTP/Datum rodjenja deteta</span>
      </div>
      <div style="display: flex;justify-content: space-around">
        <ion-item lines="none" shape="round" fill="outline" style="width: 23%" mode="md">
          <ion-select aria-label="birthDay" interface="popover" mode="ios" [(ngModel)]="birthDate">
            <ion-select-option *ngFor="let day of days" [value]="day">{{ day }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none" shape="round" fill="outline" style="width: 25%" mode="md">
          <ion-select aria-label="birthMonth" interface="popover" mode="ios" [(ngModel)]="birthMonth">
            <ion-select-option *ngFor="let month of abbreviatedMonths; let i = index" [value]="months[i]">{{ month }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none" shape="round" fill="outline" style="width: 27%" mode="md">
          <ion-select aria-label="birthYear" interface="popover" mode="ios" [(ngModel)]="birthYear">
            <ion-select-option *ngFor="let year of years" [value]="year">{{ year }}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="icon-class">
        <img ngSrc="./assets/icons/child.png" height="20" width="20" style="margin-right: 20px" alt="calendar"/>
        <span class="size16-600 text-color">Pol deteta:</span>
      </div>
      <ion-radio-group [(ngModel)]="gender" mode="md">
        <ion-radio value="boy" labelPlacement="end" style="margin-right: 20px">Muško</ion-radio>
        <ion-radio value="girl" labelPlacement="end" style="margin-right: 20px">Žensko</ion-radio>
        <ion-radio value="dontKnow" labelPlacement="end">Ne znam</ion-radio>
      </ion-radio-group>

      <div class="icon-class">
        <img src="./assets/icons/user.png" height="20" width="20" style="margin-right: 20px" alt="user"/>
        <span class="size16-600 text-color">Ime deteta:</span>
      </div>
      <ion-input mode="md" [(ngModel)]="name" aria-label="Custom input" class="custom" fill="outline"
                 shape="round"></ion-input>

      <div class="icon-class">
        <img src="./assets/icons/camera.png" height="20" width="22" style="margin-right: 20px" alt="user"/>
        <span
          class="size16-600 text-color">Izaberite fotografiju. U suprotnom, automatski će biti dodeljen avatar.</span>

      </div>

      <div class="center-content">
        <div class="main-square" (click)="takePicture()">
          <img *ngIf="profilePicture && profilePicture !== ''" [src]="profilePicture" class="selected-image"
               alt="profileImg">
          <div class="dotted-square" *ngIf="!profilePicture && profilePicture === ''">
            <div class="center-icon">
              <span class="primary-color">+</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons">
      <ion-buttons>
        <ion-button color="medium" (click)="cancel()">Poništi</ion-button>
      </ion-buttons>
      <ion-buttons>
        <ion-button (click)="confirm()" [strong]="true">Potvrdi</ion-button>
      </ion-buttons>
    </div>
  </div>
</ion-content>

