<app-menu-button pageTitle="Podešavanja"></app-menu-button>
<ion-content class="container">
  <app-our-world></app-our-world>
  <div class="center-content">
    <div class="orange-avatar">
      <img *ngIf="avatarImg" class="img-class" [src]="avatarImg" alt=""/>
    </div>
  </div>

  <div class="center-content">
    <span class="size16-900">{{ userInfo?.fullName }}</span>
  </div>

  <div class="margin-top">
    <div class="center-content">
      <ion-button fill="outline" color="secondary" (click)="addPartner()" >
        <ion-icon name="add" slot="start" style="margin-right: 10px"></ion-icon>
        <span class="checkout-text">  Dodaj partnera</span>
      </ion-button>
    </div>
    <div class="center-content">
      <ion-button fill="clear" color="secondary" id="present-alert" >
        <ion-icon name="trash-bin-outline" slot="start" style="margin-right: 10px"></ion-icon>
        <span class="checkout-text">  Obriši nalog</span>
      </ion-button>
    </div>
    <ion-alert
      trigger="present-alert"
      header="Upozorenje!"
      subHeader="Da li ste sigurni da želite da obrišete nalog?"
      message="Radeći ovo svi Vaši podaci biće obrisani iz naše baze!"
      [buttons]="alertButtons"
      (didDismiss)="deleteAccount($event)"
    ></ion-alert>
  </div>

</ion-content>
