<app-menu-button></app-menu-button>
<ion-content class="container">
  <app-our-world></app-our-world>
  <div class="center-content">
    <div class="orange-avatar">
      <img *ngIf="avatarImg" class="img-class" [src]="avatarImg" alt=""/>
    </div>
  </div>

  <div class="center-content">
    <span class="size16-900">{{ userInfo?.fullName }}</span>
  </div>

  <div class="margin-top">
    <ion-button fill="clear" color="secondary" (click)="addPartner()">
      <ion-icon name="add" slot="start" style="margin-right: 10px"></ion-icon>
      <span class="checkout-text">  Dodaj partnera</span>
    </ion-button>
    <br>
    <ion-button fill="clear" color="secondary" id="present-alert">
      <ion-icon name="trash-bin-outline" slot="start" style="margin-right: 10px"></ion-icon>
      <span class="checkout-text">  Obrisi nalog</span>
    </ion-button>
    <ion-alert
      trigger="present-alert"
      header="Upozorenje!"
      subHeader="Da li ste sigurni da zelite da obrisete Vas nalog?"
      message="Radeci ovo svi Vasi podaci bice obrisani iz nase baze!"
      [buttons]="alertButtons"
      (didDismiss)="deleteAccount($event)"
    ></ion-alert>
  </div>

</ion-content>
