.tree-class {
  background-image: url('../../../../assets/images/drvo.png');
  //background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  height: 100%;
}

ion-col {
  text-align: center;
}
