<ion-content>
  <ng-container *ngIf="!login && !showRegisterPartner">
    <div class="main-content">
      <div style="height: 100%;">
        <div class="title center-content">
          <img ngSrc="./assets/images/logo.png" height="73" width="73" alt="logo" priority="">
        </div>
        <div class="title center-content">
          Registracija
        </div>
        <app-custom-stepper [currentStep]="currentStep" [stepCompleted]="stepCompleted">
          <div *ngIf="currentStep === 1" class="div-component">
            <app-step1></app-step1>
          </div>
          <div *ngIf="currentStep === 2" class="div-component">
            <app-step2></app-step2>
          </div>
          <div *ngIf="currentStep === 3" class="div-component">
            <app-step3></app-step3>
          </div>
        </app-custom-stepper>
        <div>
          <ion-button *ngIf="currentStep === 3" expand="full" type="submit" shape="round" mode="ios"
                      class="login-button" (click)="register()">
            <ion-spinner *ngIf="registerSpinner"></ion-spinner>
            <span class="size20-800">Registruj se</span>
          </ion-button>
          <ion-button *ngIf="currentStep !== 3" expand="full" type="submit" shape="round" mode="ios"
                      class="login-button" (click)="nextStep()"><span class="size20-800">Sledeci korak</span>
            <ion-icon name="chevron-forward-outline" size="large" style="color: white"></ion-icon>
          </ion-button>
          <div class="center-content cursor-pointer" style="margin-top: 10px;" *ngIf="currentStep != 1">
            <span class="size14-900" (click)="prevStep()">Prethodni korak</span>
          </div>
          <div class="center-content cursor-pointer" style="margin-top: 10px;">
            <span class="size14-900" (click)="goToLogin()">Vec imas nalog?</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="login && !showRegisterPartner">
    <app-login (loginChanged)="onLoginChanged($event)"></app-login>
  </ng-container>

  <ng-container *ngIf="showRegisterPartner">
    <app-our-world></app-our-world>
    <div class="div-component-partner">
      <app-step1></app-step1>
    </div>
    <div class="center-content">
      <ion-button expand="full" type="submit" shape="round" mode="ios" class="login-button cursor-pointer" style="width: 50%"
                  (click)="registerPartner()">
        <ion-spinner *ngIf="registerSpinner"></ion-spinner>
        <span class="size20-800">Registruj se</span>
      </ion-button>
    </div>
  </ng-container>
</ion-content>
