@import "../../scss/mixins/font.mixin";

.main-content {
  //padding-top: 45px;
  padding-right: 20px;
  padding-left: 20px;
  height: 100%;
}

.title {
  color: var(--ion-color-primary);
  @include font(36px, 800, normal);
}

.additional-class {
  color: var(--ion-color-primary);
}

.div-component {
  height: 50%;
  overflow-y: auto;
}

@media screen and (min-height: 820px) {
  .div-component,
  .div-component-2 {
    height: 52% !important;
    overflow-y: auto;
  }

  .no-inputs-div-component {
    height: 68% !important;
    overflow-y: auto;
  }
}

@media screen and (min-height: 870px) {
  .div-component {
    height: 49% !important;
    overflow-y: auto;
  }

  .div-component-2 {
    height: 70% !important;
    overflow-y: auto;
  }

  .no-inputs-div-component {
    height: 65% !important;
    overflow-y: auto;
  }
}

@media screen and (min-height: 930px) {
  .div-component {
    height: 46% !important;
    overflow-y: auto;
  }

  .div-component-2 {
    height: 69% !important;
    overflow-y: auto;
  }

  .no-inputs-div-component {
    height: 61% !important;
    overflow-y: auto;
  }
}

@media screen and (min-height: 990px) {
  .div-component {
    height: 55% !important;
    overflow-y: auto;
  }

  .div-component-2 {
    height: 67% !important;
    overflow-y: auto;
  }

  .no-inputs-div-component {
    height: 57% !important;
    overflow-y: auto;
  }
}

@media screen and (min-height: 1010px) {
  .div-component {
    height: 54% !important;
    overflow-y: auto;
  }

  .div-component-2 {
    height: 66% !important;
    overflow-y: auto;
  }

  .no-inputs-div-component {
    height: 57% !important;
    overflow-y: auto;
  }
}

@media screen and (min-height: 1055px) {
  .div-component {
    height: 52% !important;
    overflow-y: auto;
  }
  .no-inputs-div-component {
    height: 55% !important;
    overflow-y: auto;
  }

  .div-component-2 {
    height: 64% !important;
    overflow-y: auto;
  }
}

@media screen and (min-height: 1100px) {
  .div-component {
    height: 51% !important;
    overflow-y: auto;
  }
  .no-inputs-div-component {
    height: 54% !important;
    overflow-y: auto;
  }

  .div-component-2 {
    height: 60% !important;
    overflow-y: auto;
  }
}

@media screen and (min-height: 1120px) {
  .div-component {
    height: 50% !important;
    overflow-y: auto;
  }
  .no-inputs-div-component {
    height: 53% !important;
    overflow-y: auto;
  }

  .div-component-2 {
    height: 57% !important;
    overflow-y: auto;
  }
}

@media screen and (min-height: 1140px) {
  .div-component {
    height: 48% !important;
    overflow-y: auto;
  }

  .no-inputs-div-component {
    height: 49% !important;
    overflow-y: auto;
  }

  .div-component-2 {
    height: 55% !important;
    overflow-y: auto;
  }
}

@media screen and (min-height: 1170px) {
  .div-component,
  .no-inputs-div-component {
    height: 51% !important;
    overflow-y: auto;
  }

  .div-component-2 {
    height: 55% !important;
    overflow-y: auto;
  }
}

@media screen and (min-height: 1180px) {
  .div-component,
  .no-inputs-div-component,
  .div-component-2 {
    height: 66% !important;
    overflow-y: auto;
  }
}

@media screen and (min-height: 1300px) {
  .div-component,
  .no-inputs-div-component,
  .div-component-2 {
    height: 62% !important;
    overflow-y: auto;
  }
}

@media screen and (min-height: 1330px) {
  .div-component,
  .no-inputs-div-component,
  .div-component-2 {
    height: 60% !important;
    overflow-y: auto;
  }
}

@media screen and (min-width: 500px) {
  .main-content {
    display: flex;
    justify-content: center;
  }
  .main-content > div {
    width: 50vh;
  }
}

.div-component-partner {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.div-component::-webkit-scrollbar {
  width: 0;
  background: transparent; /* Optional: Hide scrollbar track */
}
